.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.li_section {
	margin-top: 22px;
}

input::-webkit-input-placeholder {
	color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
	color: black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
	color: black !important;
}

input:-ms-input-placeholder {
	color: black !important;
}
